@charset "UTF-8";

body {
    background-color: #99C672;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #21A85E;
    border: 2px solid black;
    border-radius: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 380px;
    text-align: center;
}

.container h2 {
	font-size: 30px;
    margin-bottom: 25px;
    color: black;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-button {
    background-color: #99C672;
    color: black;
    padding: 12px;
    width: 100%;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(184, 213, 130);
}

p {
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: rgb(20, 0, 157);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error {
	
	margin-bottom: 15px;
    color: red;
    font-size: 26px;
}